# SentEval data and .pyc files

.idea
.ipynb_checkpoints

# python
__pycache__/
*.py[cod]
*$py.class

# log files
*.log
*.txt

# pickle files
*.pkl

# datasets
dataset/

InfersentEmbeddings/

savedir/